<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  <extension point="org.gemoc.gemoc_language_workbench.sequential.xdsml">
    <XDSML_Definition modelLoader_class="org.gemoc.executionframework.extensions.sirius.modelloader.DefaultModelLoader" name="org.gemoc.course.fsm.XFSM" xdsmlFilePath="/org.gemoc.course.fsm/bin/org/gemoc/course/fsm/FSM.melange" />
  </extension>
  <extension point="fr.inria.diverse.melange.modeltype">
    <modeltype id="org.gemoc.course.fsm.FSMMT" uri="http://org.gemoc.course.fsm.fsmmt/">
      <subtyping modeltypeId="org.gemoc.course.fsm.XFSMMT" />
    </modeltype>
  </extension>
  <extension point="fr.inria.diverse.melange.language">
    <language aspects="" entryPoints="" exactType="org.gemoc.course.fsm.FSMMT" id="org.gemoc.course.fsm.FSM" uri="http://www.gemoc.org/course/fsm">
      <adapter class="org.gemoc.course.fsm.fsm.adapters.xfsmmt.FSMAdapter" modeltypeId="org.gemoc.course.fsm.XFSMMT" />
    </language>
  </extension>
</plugin>
