<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>


   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated XFSM -->
      <package
            uri="http://org.gemoc.course.fsm.xfsm/fsm/"
            class="org.gemoc.course.fsm.xfsm.fsm.FsmPackage"
            genModel="model/XFSM.genmodel"/>
   </extension>

</plugin>
