<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension point="org.eclipse.sirius.componentization">
    <component class="org.gemoc.course.fsm.debug.design.Activator"
               id="org.gemoc.course.fsm.debug.design"
	       name="XFSM">
    </component>
  </extension>
</plugin>
